<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>

<body>
    {% if islogged %}
    <p>
        hello {{username}}
        <form action="/signout">
            <input type="submit" value="Logout">
        </form>
    </p>
    {% endif %}

    <form action="create-note/" method="post">
        {% csrf_token %}
        <input type="text" name="title" id="title">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Note">
    </form>

    <form action="/" method="post">
        {% csrf_token %}
        <input type="text" name="query" id="query">
        <input type="submit" value="Search">
    </form>

    {% for note in notes %}
    <a href="/edit-note/{{note.id}}">

        <div style="padding: 10px; border: 1px solid gray; margin: 10px; background-color: beige;">
            <h2>
                {{note.title}}
            </h2>
            <p>
                {{note.content}}
            </p>
        </div>
    </a>




    {% endfor %}

</body>

</html>